<div class="container">

  <header>
    <a href="http://localhost:3000/v1" class="logo"><i class="fas fa-bible"></i></a>
    <h1>SCRIPTURLE</h1>
    <a href="" class="settings"><i class="fas fa-cog"></i></a>
  </header>

  <main>

    {{!-- 
    {{#if result }}
    <h2> {{ result }} </h2>
    {{/if}} --}}

    <div class="row">
      {{#each result}}

        <input
        type="text"
        text=""
        class="letter {{status}}"
        maxlength="1"
        disabled
        value="{{letter}}"
      />

      {{/each}}
    </div>
    <div class="row">
      <input type="text" text="" class="letter" maxlength="1" autofocus />
      <input type="text" text="" class="letter" maxlength="1" />
      <input type="text" text="" class="letter" maxlength="1" />
      <input type="text" text="" class="letter" maxlength="1" />
      <input type="text" text="" class="letter" maxlength="1" />
      <input type="text" text="" class="letter" maxlength="1" />
      <input type="text" text="" class="letter" maxlength="1" />
    </div>

    <div class="wordContainer">
      {{!-- <h2 class="guess"></h2> --}}

      <form action="/v1" method="post">
        <p>
          <input type="hidden" name="guess" id="guess" />
        </p>

        <input type="submit" value="Guess" />
      </form>
    </div>
  </main>

</div>