<div class="container">

  <header>
    <a href="http://localhost:3000/v2" class="logo"><i class="fas fa-bible"></i></a>
    <h1>SCRIPTURLE</h1>
    <a href="" class="settings"><i class="fas fa-cog"></i></a>
  </header>

  <main>

    {{#each result}}

        <div class="row">
        {{#each this}}

            <input
            type="text"
            text=""
            class="letter {{status}}"
            maxlength="1"
            disabled
            value="{{letter}}"
        />
        {{/each}}
        </div>
    {{/each}}

    {{#if msg}}
    <h2>{{msg}}</h2>
    {{/if}}
    
    {{#unless gameover}}
    <div class="row">
        <input type="text" text="" class="letter" maxlength="1" autofocus />
        <input type="text" text="" class="letter" maxlength="1" />
        <input type="text" text="" class="letter" maxlength="1" />
        <input type="text" text="" class="letter" maxlength="1" />
        <input type="text" text="" class="letter" maxlength="1" />
        <input type="text" text="" class="letter" maxlength="1" />
        <input type="text" text="" class="letter" maxlength="1" />
        </div>
    {{/unless}}
    
    <div class="wordContainer">
      {{!-- <h2 class="guess"></h2> --}}

      <form action="/v2" method="post">
        <p>
          <input type="hidden" name="guess" id="guess" />
        </p>

        <input type="submit" value="Guess" />
      </form>
    </div>
  </main>

</div>