
/* Color Theme Swatches in Hex */
.medium-blue { color: #5D768C; }
.brown { color: #734124; }
.red { color: #F25C5C; }
.white { color: #F2F2F2; }
.black { color: #0D0D0D; }

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #0D0D0D;
    color: #F2F2F2;
    font-family: Inter, Arial, Helvetica, sans-serif;
    display: flex;
    flex:1;
    justify-content: center;
}

.container {
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #3d3d3d;
}

header a {
    color: #3d3d3d;
    font-size: 1.25rem;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

main {
    padding: 1rem;
}

input.letter {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    margin: 2px;
    outline: none;
    border: 2px solid #3b3b3b;
    background: #151515;
    color: #F2F2F2;

    font-size: 40px;
    text-align: center;
}

input.letter.correct {
    background-color: #F25C5C;
}

input.letter.misplaced {
    background-color: #5D768C;
}